.constellation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.gigabyte {
    width: 50%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 15px 10px 7px silver;
}
.zebronics {
    display: block;
    text-align: left;
    margin-left: 4%;
    font-weight: bold;
}
.intel {
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 2%;
    margin-bottom: 3%;
}
.microsoft {
    width: 92%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 2%;
}
.microsoft:hover {
    font-weight: bold;
    color: white;
    background: linear-gradient( to right, #02cc02 40%, #02a002 50%, #016801 60% );
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}
@keyframes shimmer {
    to {
        background-position-x: 0%;
    }
}
@media ( max-width: 768px ){
    .gigabyte {
        width: 100%;
    }
    .microsoft {
        background-color: green;
        color: white;
    }
}