{%  extends 'core/base.html' %}
{%  load static %}
{%  block title %}Forget Password Sent{%  endblock %}
{%  block content %}


<div class = "message_frame">
    {% if messages %}
        {%  for message in messages %}
            {% if message.tags == 'error' %}
                <p class = "error">{{message}}</p>
            {% else %}
                <p class = "success">{{message}}</p>
            {% endif  %}
        {%  endfor %}
    {%  endif %}
</div>

<div class = "gripper">
    <h1>The Reset Link is sent to your registered Email ID.</h1>
</div>




{%  endblock %}