{%  extends 'core/base.html' %}
{%  load static %}
{%  block title %}Forget Password{% endblock  %}
{%  block content  %}


<div class = "message_frame">
    {% if messages %}
        {%  for message in messages %}
            {% if message.tags == 'error' %}
                <p class = "error">{{message}}</p>
            {% else %}
                <p class = "success">{{message}}</p>
            {% endif  %}
        {%  endfor %}
    {% endif  %}
</div>

<div class = "dumble">
    <form method = "POST" class = "runner">
        {% csrf_token %}
        <h1>Forget Password Page</h1>
        <div>
            <label class = "booster">Email</label>
            <input type = "email" name = "email" class = "rocket">
        </div>
        <button type = "submit" class = "shuttle">Forget Password</button>
    </form>
</div>


{%  endblock %}