.land {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.water {
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    width: 50%;
}
.sea {
    display: block;
    font-weight: bold;
    margin-left: 4%;
    text-align: left;
}
.bay {
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 15px;
}
.air {
    width: 92%;
    height: 42px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    scroll-behavior: smooth;
}
.air:hover {
    background: linear-gradient( to right, #b102b1 40%, #450645 50%, #310131 60% );
    background-position-x: 100%;
    background-size: 300%;
    border: 2px solid black;
    font-weight: bold;
    color: white;
    transition: 1.5s ease;
    scroll-behavior: smooth;
    animation: shimmer 1s infinite linear;
}
@keyframes shimmer {
   to {
        background-position-x: 0%;
   }
}
@media (max-width: 768px ){
    .land {
        height: 100vh;
    }
    .water {
        width: 100%;
    }
    .air {
        background-color: purple;
        color: white;
        width: 94%;
    }
}