.tom {
    min-height: 90vh;
}
.light {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 90vw;
}
.sun {
    width: 100%;
}
.moon {
    width: 50%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.venus {
    width: 15%;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 17px;
    background-color: white;
    scroll-behavior: smooth;
}
.venus:hover {
    background-color: green;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
}
@media ( max-width: 768px ) {
    .tom {
        min-height: 90vh;
    }
    .light {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .sun {
        width: 90%;
    }
    .moon {
        width: 65%;
        font-size: 15px;
    }
    .venus {
        width: 25%;
        font-size: 15px;
        background-color: green;
        color: white;
        margin-right: 7%;
    }
}
.murcary {
    margin-left: 5%;
}
.jupiter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.nebula {
    text-decoration: none;
    color: black;
}
.saturn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 800px;
    border: 1px solid black;
    border-radius: 25px;
    scroll-behavior: smooth;
}
.saturn:hover {
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 10px 15px 10px #a0a0a0;
    scroll-behavior: smooth;
    transition: 1s ease-in-out;
}
.saturn:hover > .celestial {
    font-weight: bold;
    font-size: 20px;
}
.convex {
    width: 45px;
    height: 50px;
}
.conclave {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.celestial {
    text-decoration: none;
    color: color;
    font-size: 17px;
    margin: 2%;
}
@media ( max-width: 768px ){
    .jupiter {
        width: 100%;
        margin: 1%;
    }
    .saturn {
        width: 100%;
    }
    .celestial {
        font-size: 15px;
    }
}